body {
  background: url(./assets/darkmode/bg-mobile-dark.jpg) no-repeat top
    center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  width: 360px;
  height: 712px;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}
