body {
  /* background-color: black;
  background-image: url(./assets/darkmode/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */
  
  background: url(./assets/darkmode/bg-mobile-dark.jpg) no-repeat top
    center/cover;
}
